useDynLib(egcar, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, coef, predict, rnorm, setNames, toeplitz)
importFrom(utils, getFromNamespace, head, tail)
export(egcar_control)
export(benchmark_control)
export(egcar_prepare)
export(egcar_folds)
export(egcar_cv_data)
export(egcar_fit)
export(egcar_rate)
export(egcar_path)
export(egcar_cv)
export(sgca_cv)
export(rgcca_cv)
export(sgcca_cv)
export(multicca_cv)
export(egcar_score)
export(egcar_simulate)
export(egcar_distance)
export(egcar_oracle_support)
export(egcar_oracle_population)
export(benchmark_dependencies)
S3method(print, egcar_prepared)
S3method(print, egcar_cv_data)
S3method(print, egcar_fit)
S3method(print, egcar_cv)
S3method(coef, egcar_fit)
S3method(coef, egcar_cv)
S3method(predict, egcar_fit)
S3method(predict, egcar_cv)
export(EGCAR_L11)
export(EGCAR_L21)
export(EGCAR_L11_CV)
export(EGCAR_L21_CV)
export(EGCAR_L11_Rate)
export(EGCAR_L21_Rate)
export(egcar_experiment_config)
export(run_egcar_experiments)
