.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.tar.gz
*.Rcheck/
*.o
*.so
*.dll
*.dylib
src/*.rds
example_outputs/
backend_checks/
.Rcheck/
tools/native/test_native
tools/native/test_native

.egcar_native_cache/
egcar_*outputs/
rewrite_checks*/
